
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>用户修改</title>
</head>
<body>
<form th:action="@{/Update}" method="post">
  <table border="1">
    <tr>
      <th>用户修改</th>
    </tr>
    <tr>
      <td>药品ID：<input name="MID" type="text" th:value="${medicine.MID}" /></td>
    </tr>
    <tr>
      <td>药品名称：<input name="MName" type="text" th:value="${medicine.MName}"/></td>
    </tr>
    <tr>
      <td>规格：<input name="MSpecification" type="text" th:value="${medicine.MSpecification}"/></td>
    </tr>
    <tr>
      <td>库存单位：<input name="MSUnit" type="text" th:value="${medicine.MSUnit}"/></td>
    </tr>
    <tr>
      <td>计量单位：<input name="MDUnit" type="text" th:value="${medicine.MDUnit}"/></td>
    </tr>
    <tr>
      <td>购进价：<input name="MPPrice" type="number" step="0.01" th:value="${medicine.MPPrice}" /></td>
    </tr>
    <tr>
      <td>零售价：<input name="MRPrice" type="number" step="0.01" th:value="${medicine.MRPrice}"/></td>
    </tr>
    <tr>
      <td>库存数量：<input name="MStore" type="number" th:value="${medicine.MStore}"/></td>
    </tr>
    <tr>
      <td>库存金额：<input name="MAmount" type="number" step="0.01" th:value="${medicine.MAmount}"/></td>
    </tr>
    <tr>
      <td><input type="submit" value="保存"/></td>
    </tr>
  </table>
</form>
</body>

<style type="text/css">
    table
    {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }
    table td, table th
    {
        border: 1px solid #cad9ea;
        color: #666;
        height: 30px;
    }
    table thead th
    {
        background-color: #CCE8EB;
        width: 100px;
    }
    table tr:nth-child(odd)
    {
        background: #fff;
    }
    table tr:nth-child(even)
    {
        background: #F5FAFA;
    }
</style>
</html>